<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IMEI Перевірка</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/cssStyles")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
    <script type="text/javascript">
        VK.init({ apiId: 4926384, onlyWidgets: true });
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1431410790497947";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="LKVHYVNDPYE3E">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-left">
                        <p>
                            <div class="fb-like" data-href="https://www.facebook.com/imei.validation" data-width="450" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                        </p>
                        <p>
                            <div id="vk_like"></div>
                            <script type="text/javascript">
                                VK.Widgets.Like("vk_like", { type: "mini" });
                            </script>
                        </p>
                    </div>
                    <div class="col-md-6 footer-right">
                        <a href="https://github.com/TerraVenil/ImeiValidator" class="btn btn-default"><i class="fa fa-github"></i> Переглянути джерело на GitHub</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 footer-below">
                        <p>&copy; IMEI Перевірка, @DateTime.Now.Year</p>
                    </div>
                </div>
            </div>
        </footer>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'imei-validation';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/feedback_me")
    @RenderSection("Scripts", required: false)
    
    <script>
        $(document).ready(function() {
            var fmOptions = {
                bootstrap: true,
                name_placeholder: "Введіть ім'я",
                show_email: true,
                email_placeholder: "Введіть електронну скриньку",
                email_required: true,
                message_placeholder: "Продовжуйте набирати своє повідомлення тут...",
                feedback_url: "https://api.sendgrid.com/api/mail.send.json",
                custom_params: {
                    api_user: "azure_fa94a0b6e4768933ec089a013be0f44f@azure.com",
                    api_key: "wWdg9KR8kfjx9Eb",
                    to: "kosunix@gmail.com",
                    toname: "Oleksii",
                    subject: "Відгук"
                },
                delayed_close: false,
                delayed_options: {
                    success_color: "#5cb85c",
                    fail_color: "#d2322d",
                    delay_success_milliseconds: 3500,
                    send_success: "Дякую за ваш відгук :)",
                    sending: 'Віправляється',
                    send_fail: 'Відправка не вдалася'
                },
                title_label: 'Відгук',
                trigger_label: '&#9679;Відгук&#9679;',
                name_label: "Ім'я",
                email_label: "Скринька",
                message_label: 'Повідомлення',
                submit_label: 'Відправити'
            };

            //init feedback_me plugin
            fm.init(fmOptions);
        });
    </script>
</body>
</html>
